section.hero_section {
    position: relative;
    padding: 80px 0;
    background-image: url('./../../logo/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero_area {
    display: flex;
    justify-content: center;
    align-items: center;
}



.name h3 {
    font-size: 68px;
    color: #000;
}

.job p {
    font-size: 20px;
    color: #000 !important;
}

.orangeText {
    font-size: 26px;
    color: #f44336;
}

.greenText {
    color: #f44336;
}

.purpleText {
    color: #4200ff;
}

.hero_des p {
    font-size: 18px;
    margin-bottom: 34px;
}

.social_icon a {
    color: #000;
    margin-left: 20px;
    background: #f443360f;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}